# create a new file in the same dir as this file called vars.env
# and set them wth real values

#PROJECT_ID=<Your GCP Project ID>
#APP_INSTANCE_NAME=<Your App Instance Name>
#CLUSTER=<Your Cluster Name>
#REGION=<Your preferred region i.e us-central1>
#ZONE=<Your preferred zone i.e us-central1-a>
#INSTALL_GPU=false  # install GPU support? true or false

# e.g. vars.env should look like:

PROJECT_ID=some-project-name
APP_INSTANCE_NAME=some-app-name
CLUSTER=some-cluster-name
REGION=us-central1
ZONE=us-central1-a
INSTALL_GPU=true
